# **List Operations**

In [1]:
mobiles = ['android', 'windows', 'ios', 'linux', 'mac']

## List Add/Update Operation

In [2]:
print(mobiles)
mobiles.append('java') # Adds an element to the end.
print(mobiles)

['android', 'windows', 'ios', 'linux', 'mac']
['android', 'windows', 'ios', 'linux', 'mac', 'java']

In [4]:
print(mobiles)
mobiles.insert(2, 'python') # inserts an element at a specified position.
print(mobiles)

['android', 'windows', 'python', 'ios', 'linux', 'mac', 'java']
['android', 'windows', 'python', 'python', 'ios', 'linux', 'mac', 'java']

In [6]:
print(mobiles)
mobiles.extend(['c', 'c++', 'c#']) # Adds elements from an iterable to the end.
print(mobiles)

['android', 'ios', 'linux', 'mac']
['android', 'ios', 'linux', 'mac', 'c', 'c++', 'c#']

## List Remove Operation

In [9]:
mobiles = ['android', 'windows', 'ios', 'linux', 'windows', 'mac']

In [ ]:
print(mobiles)
mobiles.remove('windows') #  Removes the first occurrence of the element.
print(mobiles)

In [10]:
print(mobiles)
popped = mobiles.pop(2) # Removes and returns element at the given index.
print(popped)
print(mobiles)

['android', 'windows', 'ios', 'linux', 'windows', 'mac']
ios
['android', 'windows', 'linux', 'windows', 'mac']

In [11]:
print(mobiles)
mobiles.clear() # Removes all elements from the list.
print(mobiles)

['android', 'windows', 'linux', 'windows', 'mac']
[]

## More List Specific Operations

In [23]:
numbers = [10, 99, 1, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9]

In [24]:
idx = numbers.index(5) # Returns the index of the first occurrence of the element.
print(idx)

7

In [25]:
cnt = numbers.count(4) # Returns the number of occurrences of the element.
print(cnt)

2

In [26]:
numbers.sort() # Sorts the list in ascending order.
print(numbers)

[1, 1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 99]

In [27]:
numbers.reverse() # Reverses the order of the elements in the list.
print(numbers)

[99, 10, 9, 8, 7, 6, 5, 4, 4, 3, 2, 1, 1]

In [28]:
nums_copy = numbers.copy() # Returns a shallow copy of the list.
print(nums_copy)

[99, 10, 9, 8, 7, 6, 5, 4, 4, 3, 2, 1, 1]

## Concatenation

In [29]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = lst1 + lst2
print(lst3)

[1, 2, 3, 4, 5, 6]

# **Tuple Operations**

## Tuple Specific Opereations

In [31]:
tup = ('android', 'windows', 'ios', 'linux', 'mac')

In [32]:
tup.count('windows') # Returns the number of occurrences of the element.

1

In [33]:
tup.index('linux') # Returns the index of the first occurrence of the element.

3

## Packing and Unpacking

In [35]:
packed_tuple = 'android', 'windows'

a, b = packed_tuple
print(a)
print(b)

android
windows

## Concatenation

In [36]:
tup1 = ('android', 'windows')
tup2 = ('ios', 'linux')
tup3 = tup1 + tup2
print(tup3)

('android', 'windows', 'ios', 'linux')

## Repetation

In [37]:
rep_tup = tup1 * 3
print(rep_tup)

('android', 'windows', 'android', 'windows', 'android', 'windows')

## Single Valued Tuple

In [39]:
tup_sn = ('abc',)
print(type(tup_sn))

<class 'tuple'>

# **Set Operations**

## Add

In [41]:
st = { 1, 2, 3, 4, 5 }

In [42]:
print(st)
st.add(6) # Adds an element to the set.
print(st)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

## Remove

In [44]:
st = {'android', 'windows', 'ios', 'linux', 'mac'}

In [45]:
print(st)
st.remove('ios') # Removes the specified element from the set. If the element is not found, it raises a KeyError.
print(st)

{'windows', 'android', 'linux', 'ios', 'mac'}
{'windows', 'android', 'linux', 'mac'}

In [47]:
print(st)
st.discard('windows') # Removes the element if it exists; no error if the element is absent.
print(st)

{'windows', 'android', 'linux', 'mac'}
{'android', 'linux', 'mac'}

In [50]:
print(st)
popped = st.pop() # Removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.
print(popped)
print(st)

{'mac'}
mac
set()

## Set Specific Operations

In [52]:
st1 = { 1, 2, 3 }
st2 = { 2, 3, 4 }

In [54]:
# Union
print(st1.union(st2))
print(st1 | st2)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [55]:
# Difference
print(st1.difference(st2))
print(st1 - st2)

{1}
{1}

In [56]:
# Intersection
print(st1.intersection(st2))
print(st1 & st2)

{2, 3}
{2, 3}

# **Dictionary Operations**

In [57]:
stu_dc = {'name': 'John', 'age': 20, 'grade': 'A'}

## Adding Elements

In [58]:
print(stu_dc)
stu_dc['city'] = 'Pune'
print(stu_dc)

{'name': 'John', 'age': 20, 'grade': 'A'}
{'name': 'John', 'age': 20, 'grade': 'A', 'city': 'Pune'}

## Removing Elements

In [59]:
popped = stu_dc.pop('age') # Removes the specified key-value pair from the dictionary and returns the value.
print(popped)
print(stu_dc)

20
{'name': 'John', 'grade': 'A', 'city': 'Pune'}

In [60]:
popped = stu_dc.popitem() # Removes and returns an arbitrary key-value pair from the dictionary.
print(popped)
print(stu_dc)

('city', 'Pune')
{'name': 'John', 'grade': 'A'}

In [61]:
del stu_dc['grade'] # Removes the specified key-value pair from the dictionary.
print(stu_dc)

{'name': 'John'}

In [62]:
stu_dc.clear() # Removes all key-value pairs from the dictionary.
print(stu_dc)

{}

## Dictionary Specific Operations

In [64]:
db_config = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'password': 'password'
  }

In [65]:
db_config.keys() # Returns a view object that displays a list of all the keys in the dictionary.

dict_keys(['host', 'port', 'user', 'password'])

In [66]:
db_config.values() # Returns a view object that displays a list of all the values in the dictionary.

dict_values(['localhost', 3306, 'root', 'password'])

In [67]:
db_config.items() # Returns a view object that displays a list of all the key-value pairs in the dictionary.

dict_items([('host', 'localhost'), ('port', 3306), ('user', 'root'), ('password', 'password')])